@import url(https://fonts.googleapis.com/css2?family=Satisfy&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-family: 'Satisfy', handwriting;
    text-align: center;
    margin-bottom: 20px;
}

.login, .sign-up{

    border:1px solid lightgrey;
    display: flex;
    flex-direction: column;
    padding: 30px;
    width:100%;

}

input{

    margin-bottom: 20px;
    padding:10px;
    border:1px solid lightgrey;
    outline: none;
    width:260px;
}

button{

    padding: 10px;
    border:none;
    background-color:rgb(82,194,251);
    border-radius: 5px;
    color:white;
    font-weight:600;
}

.altr{

    border:1px solid lightgrey;
    margin-top: 15px;
    padding: 30px;
    font-size: small;
    text-align: center;
}
.altr>span{

    margin-right: 10px;
}
.altr>a{

    color:rgb(82,194,251);
    text-decoration: none;
    font-weight: 500;
}


